
.sector {
    table-layout: fixed;
    font-size: 0.65em;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.sector th,
.sector td {
    border: 1px solid #C0C0C0;
}

.sector tr:first-of-type {
    height: 3em;
}

.sector td:hover {
    background-color: #F6F895;
}

.table-cell {
    display: block;
    height: 5.5em;
    word-wrap: break-word;
    overflow: hidden;
}

