
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    margin-top: 0px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 1em;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}