/* h1, h2, h3, h4, h6, h6, p, span, div, td, th {
    font-family: 'Roboto' !important;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
} */